<template name="header">
	<header class="rc-header">
		<div class="rc-header__wrap">
			<div class="rc-header__block rc-header--burger">{{> burger}}</div>

			{{#if rawSectionName}}
			<span class="rc-header__block">{{rawSectionName}}</span>
			{{else}}
			<span class="rc-header__block">{{_ sectionName}}</span>
			{{/if}} {{#if Template.contentBlock}} {{> Template.contentBlock}} {{/if}} {{# unless hideHelp}}
			<div class="rc-header__section-help"></div>
			{{/unless}} {{#if showWhatsNewButton }}
			<div class="iframe-toolbar rc-header__block">
				<span id="whats-new-button" class="whats-new-title tab-button-icon">{{> icon block="rc-input__icon-svg" icon="info-circled"}} {{_ "Whats_New_Title"}}</span>
			</div>
			{{/if}} {{#with toolbarButtons}}
			<div class="iframe-toolbar">
				{{#each buttons}}
				<button class="{{id}}">{{#if icon}}<i class="{{icon}}"></i>{{/if}} {{label}}</button>
				{{/each}}
			</div>
			{{/with}}
		</div>
	</header>
</template>
